<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="input.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
    <title>Input Field</title>
</head>

<body>
    <div class="additional-items">
        <span class="additional-item1">
Item 1
</span>
        <span class="additional-item2">
<input class="item" type="text" name="item" id="itemAdditional" placeholder=" " >
</span>
        <span class="additional-item3">
    <i class="fa fa-minus-square-o" aria-hidden="true"></i>
</span>
    </div>


</body>

</html>