/*RESET*/
html, body{
    width: 100vw;
    height: 100vh;
}
*{  
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    vertical-align: top;
}

/*PADRÃO DO SITE*/
body{
    font-family: Helvetica;
    margin: 40px;
}

/*FORM*/
.form{
    border: 1px solid black;
    border-radius: 5px;
    position: relative;
    padding: 15px;
}
.form-nome{
    position: absolute;
    top:-9px;
    left: 10px;
    background: white;
    text-transform: uppercase;
}
.form__titulo{
    text-transform: uppercase;
}
.form__entrada-titulo{
    width: 90%;
    margin: 5px auto;
}
.itens{
    border: 1px solid black;
    border-radius: 5px;
    position: relative;
    padding: 15px;
    margin: 10px 0;
}
.itens-nome{
    position: absolute;
    top:-9px;
    left: 10px;
    text-transform: uppercase;
    background: white;
}