<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JS NOTES</title>
    <link rel="stylesheet" href="navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
        <navbar class="cabecalho__nav">
            <div class="cabecalho__nav__menu">
                <a class="cabecalho__nav__menu-barra" href="#"><i class="fa fa-bars" aria-hidden="true"></i></a>
            </div>
            <div class="cabecalho__nav__logo">
                <h3> JS NOTES </h3>
            </div>
            <div class="cabecalho__nav__pesquisa">     
                <input class="input pesquisar" type="text" <i class="fa fa-search" aria-hidden="true" placeholder="PESQUISAR"></i>

            </div>
            <div class="cabecalho__nav__contatos">
               
                    <a class = "cabecalho__nav__contatos-icones" href="#"><i class="fa fa-refresh" aria-hidden="true"></i></a> 
                    <a class = "cabecalho__nav__contatos-icones" href="#"><i class="fa fa-eye" aria-hidden="true"></i></a> 
                    <a class = "cabecalho__nav__contatos-icones" href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                    <a class = "cabecalho__nav__contatos-icones" href="#"><i class="fa fa-user" aria-hidden="true"></i></i></a> 
                   
            </div>   
        </navbar>

</body>
</html>